{% extends "index.html" %} {% block title %}Total cases{% endblock %} {% block
    content %}
<html>
<body>
    <h1></h1>
    <!-- base file for the app -->
    <h1 align="center" style="background-color:rgb(235, 155, 18);">BDAT1004 Final Project, Prof: Thomas Parker</h1>
    <h2 align="center" style="background-color:rgb(223, 237, 228);">Data Visualization of Covid Cases as of April 2022</h2>
    <img align = "center" src="https://www.redcross.org/on/demandware.static/-/Sites-RedCross-Library/default/dw80a14fb2/images/in-the-news/corona-virus.png" alt="COVID-19" width=100% height="400">
    <h4 align="center" style="background-color:rgb(241, 194, 107);"> -----------Submitted By----------
    <p> Harika Namala (200503294)
    <br> Dedeepya Buragayala (200497925)
    <br> Siva Kumar Kalisetty (200503288)
    <br> Deepa Gali (200504591)
    </p> </h4>
    

</body>
</html>
{% endblock %}